dist: xenial

deploy:
  provider: pypi
  user: __token__
  on:
    tags: true
  password:
    secure: ToB+gT6RWAf+mAcbl9ExnNT9Yii+fZ4gsv0A3w7XSXSBOIqAqoMGWniue5E+KCHTx1fwEN4MRSi2zQkSX22dvfR/o37Ad7mQ0YTx7RLnZt81cuIX7muvG0S9UCSD2OzcyJwBQZ/emo7gLBDJlZVC8aYwQFK/4TPdcz9BMppJAdVNxYE992qeEZjHGHsW3NlQSCbhPhbgB0ePqWaAcbH9D/zKh7EsjW9h/wGDL9VfA+fZ1yKSM+LaGwfNrTchYtzQJ8/8ZcDp6+avsJrTo2HOx2r/R0EDoT5dk2p+Cm+M69bR2WNcp+6fSAjLCkq2Kuj6vQtg4CNtEbyMzS0XnXX/H8UJKg8148bLI0EomQJ4kIV13mNxDT4PpGfAupX4nVtR3vs7/941rqMt8CJeAnGHejkD89O6EnmajYmmTuV8iE0EvqjQiTsTOOBroV7K34nRErpx0U5Vupn0Ajcxnrknwb35u+ZJbDIPNeEsZS0XimNIUzQ18qNSp8dv8D2eYsDkajes3beDb9jyaoaefQ0zgqr3vHFIOzKhm5TzKHm8qnCpijFBoXpmiDFEA2YuZHlAATA9kgGvKCNWs8wR5kHZlcx5z7sVgKvyBN3BCY7SOycsErf8GaVfwywmB6uKpwiO2AftZdWfiDbaEBnhNGydDkUQe6oQ40iYJKuwJh/iVy4=

language: c
cache:
  - ccache
  - pip
  - directories:
    - /opt/python

matrix:
  include:
    - os: linux
      env: PYENV_VERSION=3.6.4
    - os: linux
      env: PYENV_VERSION=3.7.0
    - os: linux
      env: PYENV_VERSION=3.8.0
    - os: linux
      env: PYENV_VERSION=pypy3.6-7.2.0

    - os: osx
      env: PYENV_VERSION=3.6.4
    - os: osx
      env: PYENV_VERSION=3.7.0
    - os: osx
      env: PYENV_VERSION=3.8.0
    - os: osx
      env: PYENV_VERSION=pypy3.6-7.2.0

before_install:
  - |
      if [ "$TRAVIS_OS_NAME" = "linux" ]; then
        sudo apt-get update;
        sudo apt-get install ca-certificates;
        sudo sed -e '$s,$,\ndeb https://download.opensuse.org/repositories/network:/messaging:/zeromq:/release-stable/xUbuntu_16.04/ ./,' -i /etc/apt/sources.list;
        sudo curl 'https://download.opensuse.org/repositories/network:/messaging:/zeromq:/release-stable/xUbuntu_16.04/Release.key' > Release.key;
        sudo apt-key add Release.key;
        sudo apt-get update;
        sudo apt-get install libzmq3-dev libczmq-dev libczmq4 libzmq5 libzyre2 libzyre-dev;
        pushd /opt/pyenv;
        git pull origin master;
        popd;
        sudo pip install pipenv;
      fi
  - |
      if [ "$TRAVIS_OS_NAME" = "osx" ]; then
        brew update;
        brew install zeromq czmq zyre ccache;
        pip install pipenv;
        export PATH="/usr/local/opt/ccache/libexec:$PATH";
        ulimit -n 1200;
      fi

install:

  - cd $TRAVIS_BUILD_DIR
  - pyenv install $PYENV_VERSION --skip-existing;
  - pipenv install --python $(pyenv prefix $PYENV_VERSION)/bin/python --skip-lock;
  - pipenv run python setup.py install

script:
  - pipenv run python test.py