[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
uvloop = ">=0.14.0,<0.15.0"
pybindgen = {ref = "a5bf71adc8e5d86d33cf5da83b6ee69710bd8e82",git = "https://github.com/elijahr/pybindgen.git",editable = true}

